{
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
      ],
    }
  },
  "ignore": [
    "**/node_modules/*",
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      },
      "react-bootstrap": {
        "transform": "react-bootstrap/lib/${member}",
        "preventFullImport": true
      },
      "react-router-dom": {
        "transform": "react-router-dom/${member}",
        "preventFullImport": true
      }
    }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "current",
      }
    }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
}
