/**
 * AdminController.scss
 */

.admin {
  .user-filter {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    width: 300px;
  }

  .controls {
    width: 10px;
  }

  .member-table {
    th, td {
      vertical-align: middle;
    }

    .member-image {
      margin-right: 10px;
    }

    .label + .label {
      margin-left: 5px;
    }
  }
}
